body {
    margin: 0; /* Remove default margin */
/*    background-image: url("../Images/image.jpg");
    background-size: cover;*/
    background-color: gray;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.search-bar {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-right: 2%;
    text-align: right; 
}

/*.featured-games {
    border: 5px solid red;
}*/

.main-content {
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
    width: 80%; 
/*    border: 5px solid black; */
}

.carousel-item{
    max-height: 500px;
}

    .carousel-item > img {
        top: 50%;
        left: 50%;
        transform: translate(0%, -20%);
        min-width: 100%;
        height: 40rem;
        margin: 0 auto;
    }

.navbar-nav {
    text-align: center;
    margin-left: 2%;
}

.content-nav-item {
    margin-left: 1em;
    margin-right: 1em;
    justify-content: center;
}