.form-group{
    width: 50%;
    margin-left: 25%;
    padding: 1%;
}

.mainForm {
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
    background-color: #2a2a2a;
}

h1 {
    width: 50%;
    margin-left: 25%;
    color: white;
}