html{
    height: 100%;
}

body {
    height: 100%;
    background-image: url("../Images/WebRes_IMG_78880-349.jpg");
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.form-group{
    width: 80%;
    margin-left: 10%;
    padding: 1%;
    color: white;
}

.mainForm {
    width: 30%;
    margin-left: 35%;
    margin-top: 15%;
    background-color: #afaeaed9;
}

.button {
    width: 100%;
    background-color: #808080ff;
    border: none;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.button:active, .button:hover, .button:focus {
    background-color: #e4e4e4d9;
}

h1 {
    width: 50%;
    margin: auto;
    text-align: center;
    color: white;
}