html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar {
    align-items: end;
    justify-content: end;
    background-color:#2a2a2a;
    padding-right: 5vw;
}
