<head>
<link rel="stylesheet" href="~/css/LoginRegister.css" asp-append-version="true" />

<style>
    .footer {
        position: relative !important;
    }
</style>
</head>

<div class="mainForm" style="margin-top: 1%;">
   Thanks for validation. You may proceed with login.
</div>
