@model PROG3050VideoGameStore.Models.ProfilePreferences

<head>
    <link rel="stylesheet" href="~/css/Profile.css" asp-append-version="true" />
    <style>
    </style>
</head>

<body>
    <div class="profile_card">
        <div class="header">
            <div class="profilePicture">
                <h1 class="display-6">
                    [profile image goes here]
                </h1>
            </div>

            <div class="content">
                <div class="title">
                    <h1 class="display-5">
                        [username goes here]
                    </h1>
                </div>
                <div class="accountinfo">
                    <p>joined on Oct 1 2023</p>
                    <p>🎂december 31</p>
                </div>

                <!-- First Row -->
                <div class="flex-grid">
                    <div class="flex-item">
                        <p class="miniHeader">Gender</p>
                        <p>Male</p>
                    </div>
                    <div class="flex-item">
                        <p class="miniHeader">Favourite Genres</p>
                        <p>Action</p>
                    </div>
                    <div class="flex-item">
                        <p class="miniHeader">Favourite Platforms</p>
                        <p>PC, Xbox, PlayStation</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="games_card">
        <div class="content">
            <div class="title">
                <h1 class="display-6">
                    Games
                </h1>
            </div>
            <!-- First Row -->
            <div>
                make flex grid to display games
            </div>
        </div>
    </div>
    <div class="FriendsandFamily_card">
        <div class="content">
            <div class="title">
                <h1 class="display-6d">
                    Friends & Family
                </h1>
            </div>
            <!-- First Row -->
            <div>
                make flex grid to display friends and family members
            </div>
        </div>
    </div>
</body>
