
<head>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
</head>


<body>
    <div class="content">
        <div class="title">
            <h1 class="display-5">
                Welcome
            </h1>
        </div>
    </div>
</body>
